# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: © 2026 TK Chia

[cC][lL][aA][uU][dD][eE].[mM][dD] working-tree-encoding=EBCDIC-UK
[aA][gG][eE][nN][tT][sS].[mM][dD] working-tree-encoding=EBCDIC-UK
